body{
    background-color:black;
    font-family: 'Roboto',sans-serif;
}
.sign {
    width: 600px;
    height: 500px;
    margin: auto;
    background-position: center;
    background-size: cover;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #f9ac54;
    box-shadow: 0 0 20px#f9ac5480
}
 
h1{
    text-align: center;
    padding-top: 35px;
    color:#d79447;
}
form{
    width: 300px;
    margin-left: 10px;
    color: #d79447;
   font-weight: bold;
   font-size: 25px;

}
.span{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
input{
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 7px;
    outline: none;
    margin-left: 100px;
    margin-top: 15px;
    padding-left: 100px;
}
.btn{
    width: 100px;
    margin-top: 30px;
    font-size: 25px;
    padding-left: 5px;
    margin-left: 200px;
    color: white;
    cursor: pointer;
    background-color: #f9ac54;
}
